/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ REACT ELEMENTS */

/* Emoji picker */

.bp4 .emoji-mart {
    background-color: var(--palette-lightergrey);
    border: var(--palette-black);
}

.bp4 .emoji-mart-category-label span {
    background-color: var(--palette-white);
    color: var(--palette-lightgrey);
}

/* Scheduler */

.bp4 .scheduler-table thead.scheduler-table-head-fixed {
    background-color: var(--palette-white);
}

.bp4 .scheduler-table tbody tr:not(.no-hover):hover {
    background: var(--palette-slightgrey);
}

.bp4 .scheduler-table tbody td {
    border-top: 1px solid var(--palette-cleargrey);
}

.bp4 .scheduler-table tbody tr:last-child td {
    border-bottom: 1px solid var(--palette-cleargrey);
}

.bp4 .scheduler-table-blue { background: var(--palette-blue); }
.bp4 .scheduler-table-green { background: var(--palette-green); }
.bp4 .scheduler-table-grey { background: var(--palette-lightgrey); }
.bp4 .scheduler-table-red { background: var(--palette-red); }

.bp4 .scheduler-table-holiday { background: var(--palette-clearergrey); }

.bp4 .scheduler-table-body-half-event.am.split {
    border-right-color: var(--palette-white);
}

.bp4 .scheduler-table-body-half-event.pm.split {
    border-left-color: var(--palette-white);
}

.bp4 .scheduler-table-head-day.today {
    border-left: 2px solid var(--palette-greyer);
    border-right: 2px solid var(--palette-greyer);
    border-top: 2px solid var(--palette-greyer);
}

.bp4 .scheduler-table-head-day.today.solo {
    border-bottom: 2px solid var(--palette-greyer);
}

.bp4 .scheduler-table-body-day.today {
    border-left: 2px solid var(--palette-greyer);
    border-right: 2px solid var(--palette-greyer);
}

.bp4 .scheduler-table tr:last-child .scheduler-table-body-day.today {
    border-bottom: 2px solid var(--palette-greyer);
}

/* Support Dialog */

.bp4 .bp4-dialog.support-dialog .bp4-card {
    background: var(--palette-white);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ REACT PAGES */

/* Summary */

.bp4 .summary-table thead th {
    background-color: var(--palette-white);
}

/* Day Off */

.bp4 #dayoff-table th {
    background-color: var(--palette-white);
}

/* Welcome */

.bp4 .welcome-language-item {
    background: none;
    border: none;
    color: var(--palette-light);
    outline: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER */

.bp4 #footer .footer-content {
    color: var(--palette-lightgrey);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER */

.bp4 #nav {
    background-color: var(--palette-lightergrey);
}

.bp4 #nav button.bp4-button {
    border-radius: 0;
    color: var(--palette-white);
}

.bp4 #nav button.bp4-button.underline {
    border-bottom: solid 1px var(--palette-link);
    color: var(--palette-link);
    margin-top: 2px;
}

.bp4 #nav button.bp4-button.underline > .bp4-icon {
    color: var(--palette-link);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BLUEPRINT OVERRIDES */

.bp4 {
    background: var(--palette-white);
}

/* Buttons */

.bp4 .bp4-button:not([class*="bp4-intent-"]),
.bp4 .bp4-numeric-input .bp4-button {
    background-color: transparent;
    background-image: none;
}

.bp4 .bp4-button:not([class*="bp4-intent-"]):hover,
.bp4 .bp4-numeric-input .bp4-button:hover {
    background-color: var(--palette-lightergrey);
    background-image: none;
}

.bp4 .bp4-button.bp4-intent-stealth {
    color: var(--palette-light);
}

.bp4 .bp4-button.bp4-intent-stealth:hover {
    background-color: var(--palette-lightergrey);
}

.bp4 .bp4-button-group.bp4-vertical.bp4-fixed > button {
    background-color: var(--palette-blue);
    background-image: none;
    border: none;
    box-shadow: none;
}

.bp4 .bp4-button.bp4-intent-primary {
    background-color: none;
    background-image: none;
    border: none;
    box-shadow: none !important;
}

.bp4 .bp4-button.bp4-intent-primary.bp4-disabled {
    background-color: var(--palette-blue);
    opacity: 0.5;
}

/* Numeric input */

.bp4 .numeric-input div.bp4-button-group .bp4-button {
    background-color: var(--palette-blue-primary);
    background-image: none;
}

.bp4 .numeric-input div.bp4-button-group .bp4-button span.bp4-icon {
    color: var(--palette-white);
}

.bp4 .numeric-input div.bp4-button-group .bp4-button:hover {
    background-color: var(--palette-darkblue);
}

/* DatePicker */

.bp4 .bp4-datepicker,
.bp4 .bp4-menu {
    background-color: var(--palette-lightergrey);
}

.bp4 .bp4-popover:not(.bp4-tooltip) .bp4-popover-arrow-fill {
    fill: var(--palette-lightergrey);
}

/* stylelint-disable-next-line selector-class-pattern */
.bp4 .bp4-datepicker .DayPicker-Day.DayPicker-Day--selected {
    background-color: var(--palette-blue);
}

/* Switch */

.bp4 .bp4-control.bp4-switch input:checked ~ .bp4-control-indicator {
    background: var(--palette-blue);
}

/* Dialog */

.bp4 .bp4-dialog {
    background: var(--palette-white);
}

.bp4 .bp4-dialog-header {
    background: var(--palette-lightergrey);
}

/* Input */
.bp4 .bp4-input {
    background-color: white;
    border: solid 1px var(--palette-lightergrey);
    box-shadow: none;
}

.bp4 .bp4-input:hover,
.bp4 .bp4-form-group .react-select__control:hover { /* stylelint-disable-line selector-class-pattern */
    border: solid 1px var(--palette-lightgrey);
}

.bp4 .bp4-file-upload-input {
    background-color: white;
    border: solid 1px var(--palette-lightergrey);
    box-shadow: none;
}

.bp4 .bp4-file-upload-input:hover {
    border: solid 1px var(--palette-lightgrey);
}

/* Table */

.bp4 table.bp4-html-table tbody tr:hover td {
    background-color: var(--palette-slightgrey);
    opacity: 1;
}
