/* styles for support panel dialog */
div.support-dialog {
    padding-bottom: 0;
    width: 40vw;
}

div.support-dialog .support-tabs .support-panel {
    height: 40vh;
    overflow-y: auto;
    padding-right: 10px;
}

.support-tab {
    width: 100%;
}

.support-panel p {
    display: block;
    margin-bottom: 10px;
}
