.config-top {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

.config-tabs {
    flex-grow: 1;
}

.config-buttons {
    text-align: center;
}

.config-button {
    margin: 10px;
}

.config-list {
    flex: 1 1 auto;
    min-width: 500px;
    overflow-y: auto;
    width: auto;
}

#config-list-table {
    width: 100%;
}

#config-list-table th,
#config-list-table td {
    text-align: center;
}

#config-list-table th:first-child,
#config-list-table td:first-child {
    padding-right: 20px;
    text-align: left;
}

h3.config-form-title {
    margin-bottom: 20px;
    text-align: center;
}

.config-form {
    width: 300px;
}

.config-form-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.config-form-buttons button {
    flex: 1 1 0;
}

.config-form-buttons button:not(:first-child) {
    margin-left: 10px;
}

.config-admin-self {
    margin-left: 10px;
}

.settings-branding-logo-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: -10px;
    width: 100%;
}

.settings-branding-logo-image {
    max-height: 75px;
    max-width: 100px;
}

.settings-branding-logo-icon {
    cursor: pointer;
    margin-left: 10px;
}

.settings-slack-referrer-content,
.settings-monthly-recap-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.settings-slack-referrer-error {
    color: var(--palette-red);
    font-size: 12px;
    margin-top: 5px;
}

.settings-slack-referrer-select,
.setting-monthly-recap-switch {
    flex-grow: 1;
}
