#nav {
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 25%);
    height: 48px;
    width: 100%;
}

#nav a {
    text-decoration: none;
}

#nav .bp3-navbar-group {
    align-items: center;
    height: 48px;
}

#nav .bp3-navbar-heading,
#nav .bp3-navbar-heading span {
    vertical-align: middle;
}

#nav .tabs,
#nav .tabs .bp3-tab-list {
    height: 48px;
}

#nav .bp3-large > .bp3-tab {
    line-height: 48px;
}

#nav .bp3-icon,
#nav .emoji-mart-emoji {
    margin-right: 5px;
    vertical-align: middle;
}

#nav-config a,
#nav-config .bp3-icon {
    color: inherit;
}

#nav button.bp3-button:focus {
    outline: none;
}

#nav button.bp3-button.underline {
    margin-top: 2px;
}

#nav button.bp3-button:not(.underline) {
    border-bottom: solid 1px transparent;
    margin-top: 2px;
}

#nav .bp3-navbar-heading {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
}

#nav .bp3-navbar-heading .nav-title {
    font-size: 15px;
}

#nav .bp3-navbar-heading .nav-logo {
    margin-right: 10px;
    max-height: 30px;
    max-width: 50px;
}

#nav .bp3-navbar-heading .nav-logo .emoji-mart-emoji,
#nav .bp3-navbar-heading .nav-logo img {
    max-height: 30px;
    max-width: 50px;
}

#nav .nav-divider {
    margin: 0 15px;
}

#nav .bp3-navbar-group.bp3-align-left {
    float: none;
    width: 100%;
}

#nav .bp3-tabs {
    flex-grow: 1;
}
